.ant-card {
    background-color: #fafafa;
    border: 2px solid rgba(0, 0, 0, 0.103);
}

.ant-card-head-title {
    font-family: Inter, sans-serif;
    color: #2e3135;
}

.ant-card-body {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.link {
    font-family: Inter, sans-serif;
    width: 25%;
    color: #2e3135;
    transition: .2s;
    letter-spacing: 1px;
}

.ant-card-grid:hover {
    font-weight: bold;
    background-color: #e4effa;
    color: #0055a9
}



.ant-card .ant-card-grid {
    width: 100%;
}



@media (max-width: 800px) {
    .link {
        width: 50%;
    }
}

@media (max-width: 420px) {
    .link {
        width: 100%;
    }
}